@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

table{
    border: 2px solid black;
    margin:10px;
    border-spacing: 5px;
    /* border-radius: 10px; */
}
td{
    border: 1px solid lightgray;
    /* border-radius: 10px; */
}

#topLeft{
    height:55vh;
    width:22vw;
}
#bottomLeft{
    height:35vh;
    width:22vw;
}
#topRight,#bottomRight{
    height:45vh;
    width:22vw;
}
caption{
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
    font-family: 'IM Fell English', serif;
}