*{
    margin:0px;
    padding: 0px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

.newscard{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    overflow: auto;
    padding: 10px;
    padding-right:20px;
    img{
        width:50%;
        margin:5px 8px 5px 0;
    }
    .mid{
        display: flex;
        div{
            margin-top: 5px;
        }
    }
    p{
        text-align: justify;
    }
}

